doctype html
html(lang='en')
  head
    title #{title} 
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(rel='stylesheet', href='/util/util.css')
    script(type='text/javascript' src='/libs/jquery.min.js')
    script(type='text/javascript' src='/libs/jquery.cookie.js')
    script(type='text/javascript' src='/socket.io/socket.io.js')
    script(type='text/javascript' src='/util/util-min.js')
  body
    block content
