extends layout

block content
  div(class='wrapper')
    div(class='welcome-wrapper')
      h1 #{desc}
      a(class='btn-primary J_enterRoom' href='javascript:;') Enter Now

  script(type='text/javascript' src='/javascripts/welcome.js')
